.vs/IdentityServerAngularImplicitFlow/v14/.suo
src/AngularClient/.sass-cache
src/AngularClient/bin
src/AngularClient/bower_components
src/AngularClient/node_modules
src/AngularClient/obj
src/AngularClient/AngularClient.xproj.user
.vs/config/applicationhost.config
.vs/restore.dg
src/IdentityServerAspNet5/bin

.vs/IdentityServerAngularImplicitFlow/v15/.suo
UpgradeLog.htm
.vs
src/AngularClient/wwwroot
src/AngularClient/aot
src/AngularClient/angularApp/app/**/*.js
src/AngularClient/angularApp/app/**/*.map
src/AngularClient/angularApp/main.js.map
src/AngularClient/angularApp/polyfills.js.map
src/AngularClient/angularApp/vendor.js.map

